.waste-summary {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2f4235; /* tmavě zelené pozadí */
  padding: 10px 10px;
  font-family: 'Segoe UI', sans-serif;
  color: #fff;
}

.bin, .coin {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}

.bin img, .coin img {
  width: 25px;
  height: auto;
}

.coin img {
    width: 34px;
}
.waste-warning.alert-add-waste {
    display: flex;
    justify-content: center;
    position: relative;
}